.slogan__button-support {
  margin: 32px 0 0;
  padding: 18px 20px 18px 20px;
  font-family: 'Golos_Text', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  color: #ffffff;
  background-color: #1f1f1f;
  border-radius: 66px;
  border: none;
  cursor: pointer;
  width: 335px;
  transition: opacity 0.4s;
}

.slogan__button-support:hover {
  opacity: 0.9;
  background-color: #fbce51;
  color: #1f1f1f;
}
