.page {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', Arial, sans-serif;
  font-style: normal;
  position: relative;
}

@media (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}

@media (min-width: 1366px) {
  .page {
    min-width: 1366px;
  }
}

@media (min-width: 1920px) {
  .page {
    max-width: 1920px;
  }
}
